doctype html5
html(lang="en")
  head
    title= title
  body
  img.ioticon(src='images/IoTLogoGrey.png', alt='IoTF Icon')
  h1.iottext.iothead=title
  block signout
  br
  br
  section
    block content