extends layout

block content
    link(rel='stylesheet', href='css/dashboard.css')
    link(rel="stylesheet", href='http://yui.yahooapis.com/pure/0.5.0/pure-min.css')

    #content
    .logintext Enter an API Token and authentication token to visualise the data send from registered devices in a single Internet of Things Foundation organization
    form.pure-form(role="form", action="/login", method="post")
        fieldset
            //label(for='api_key') API Key
            block loginfail
            input.signInputs(type="text", id="api_key", name="api_key", placeholder="API Key", required)
            //label(for='authToken') Auth Token
            input.signInputs(type="password", id="authToken", name="auth_token", placeholder="Auth Token", required)
            button.signButton(type="submit") Go